{:paths ["src"],
 :deps
 {org.clojure/clojure #:mvn{:version "1.10.0"},
  com.github.oliyh/martian #:mvn{:version "0.1.23"},
  com.github.oliyh/martian-httpkit #:mvn{:version "0.1.23"},
  com.taoensso/timbre #:mvn{:version "6.1.0"},
  duratom/duratom #:mvn{:version "0.5.8"},
  cheshire/cheshire #:mvn{:version "5.11.0"},
  slingshot/slingshot #:mvn{:version "0.12.2"},
  throttler/throttler #:mvn{:version "1.0.1"}}}
